body {
  background: #8d99ae;
}
.hero {
  background-color: #95d5b2;
  padding: 30px;
  max-width: 1400px;
  margin: 0 auto;
}
.hero a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: "Playfair Display SC", serif;
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 20px;
}

header {
  border: 1px solid black;
  margin: 20px;
  padding: 40px 30px;
  text-align: center;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
main {
  text-align: center;
}
i {
  font-size: 30px;
  color: #52796f;
}

.btn-branding {
  background: #52796f;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.btn-branding:hover {
  color: black;
  background: #52796f;
  transition: all 150ms ease-in-out;
}
.services {
  background-color: aliceblue;
  margin: 30px;
  text-align: center;
  padding: 50px;
}
.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.contact-section {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("../images/cover3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1380px;
  margin: 0 auto;
  padding: 100px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns {
  grid-gap: 20px;
}
.grid img {
  width: 100%;
  border-radius: 8px;
}
.grid-2-columns {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  padding: 20px 20px 20px 20px;
  grid-gap: 20px;
}

.img-fluid {
  width: 800;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}
.content-section {
  border: 1px solid white;
}
.content-section h1 {
  font-size: 35px;
}
.content-section p {
  line-height: 1.5;
}

.footer {
  text-align: center;
}

.menu-bar {
  padding: 20px;
}
.logo {
  max-width: 200px;
  margin-top: 10px;
}
.corder {
  font-size: 8px;
}
.corder a {
  text-decoration: none;
}
nav {
  padding: 30px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  line-height: 42px;
  margin-left: 20px;
}
nav a {
  text-decoration: none;
  color: white;
}
nav a:hover {
  color: black;
  transition: all 150ms ease-in-out;
}
nav li.active a {
  color: black;
}
@media (max-width: 960px) {
  nav li {
    font-size: 8px;
    margin-left: 10px;
  }
  nav {
    padding: 0;
  }
  .grid-2-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 0;
  }
  .content-section h1 {
    font-size: 25px;
  }
  .content-section p {
    line-height: 1.5;
    font-size: 12px;
    text-align: center;
  }

  .contact-section h3 {
    font-size: 14px;
  }
  .boxes {
    grid-template-columns: 1fr;
  }
  .logo {
    max-width: 50px;
  }
}
